openapi: 3.0.1
info:
  title: RestCountries API
  description: API to retrieve information about all countries
  version: 3.1.0
servers:
  - url: https://restcountries.com/v3.1
paths:
  /all:
    get:
      summary: Retrieve information about all countries.
      responses:
        "200":
          description: A list of countries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/country"

  /country:
    get:
      summary: Retrieve information about a specific country.
      responses:
        "200":
          description: A specific country
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/country"

components:
  schemas:
    country:
      type: "object"
      properties:
        name:
          type: "object"
          properties:
            common:
              type: "string"
            official:
              type: "string"
            nativeName:
              type: "object"
              properties:
                nativeName1:
                  type: "object"
                  properties:
                    official:
                      type: "string"
                    common:
                      type: "string"

        tld:
          type: "array"
          items:
            type: "string"
        cca2:
          type: "string"
        ccn3:
          type: "string"
        cca3:
          type: "string"
        cioc:
          type: "string"
        independent:
          type: "boolean"
        status:
          type: "string"
        unMember:
          type: "boolean"
        currencies:
          type: "object"
          properties:
            currency1:
              type: "object"
              properties:
                name:
                  type: "string"
                symbol:
                  type: "string"
        idd:
          type: "object"
          properties:
            root:
              type: "string"
            suffixes:
              type: "array"
              items:
                type: "string"
        capital:
          type: "array"
          items:
            type: "string"
        altSpellings:
          type: "array"
          items:
            type: "string"
        region:
          type: "string"
        subregion:
          type: "string"
        languages:
          type: "object"
          properties:
            language1:
              type: "string"
        translations:
          type: "object"
          properties:
            translation1:
              type: "object"
              properties:
                official:
                  type: "string"
                common:
                  type: "string"
        latlng:
          type: "array"
          items:
            type: "number"
        landlocked:
          type: "boolean"
        borders:
          type: "array"
          items:
            type: "string"
        area:
          type: "number"
        demonyms:
          type: "object"
          properties:
            demonyms1:
              type: "object"
              properties:
                f:
                  type: "string"
                m:
                  type: "string"
        flag:
          type: "string"
        maps:
          type: "object"
          properties:
            googleMaps:
              type: "string"
            openStreetMaps:
              type: "string"
        population:
          type: "integer"
        gini:
          type: "object"
          properties:
            "2003":
              type: "number"
        fifa:
          type: "string"
        car:
          type: "object"
          properties:
            signs:
              type: "array"
              items:
                type: "string"
            side:
              type: "string"
        timezones:
          type: "array"
          items:
            type: "string"
        continents:
          type: "array"
          items:
            type: "string"
        flags:
          type: "object"
          properties:
            png:
              type: "string"
            svg:
              type: "string"
            alt:
              type: "string"
        coatOfArms:
          type: "object"
          properties:
            png:
              type: "string"
            svg:
              type: "string"
        startOfWeek:
          type: "string"
        capitalInfo:
          type: "object"
          properties:
            latlng:
              type: "array"
              items:
                type: "number"
        postalCode:
          type: "object"
          properties:
            format:
              type: "string"
            regex:
              type: "string"
