openapi: 3.0.1
info:
  title: RestCountries API
  description: API to retrieve information about all countries
  version: 3.1.0
servers:
  - url: https://restcountries.com/v3.1
paths:
  /all:
    get:
      summary: Retrieve information about all countries.
      responses:
        "200":
          description: A list of countries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/country"

  /name/{name}:
    get:
      summary: Search for a country by name
      parameters:
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: The search term. This endpoint performs a case-insensitive substring match against the common name, official name, or altSpellings of the country.
        - in: query
          name: fullText
          schema:
            type: boolean
          required: false
          description: If set to true, the endpoint performs a perfect match against the common name and official name (NOT altSpellings).
      responses:
        "200":
          description: There are countries that matched the search term.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/country"
        "404":
          description: No country matched the name.

  /alpha/{code}:
    get:
      summary: request a country by its code
      parameters:
        - in: path
          name: code
          schema:
            type: string
          required: true
          description: The country code. This endpoint performs a case-insensitive perfect match against the country codes which are:cca2, cca3, ccn3 or cioc.
      responses:
        "200":
          description: The country that matched the country code.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/country"
        "400":
          description: if the number of characters in the code was less than 2 or greater than 3.
        "404":
          description: No country matched the code.

  /alpha:
    get:
      summary: request for one or more countries by their code
      parameters:
        - in: query
          name: codes
          schema:
            type: string
          required: true
          description: The parameter value can have a list of codes separated by comma (?codes={code},{code},{code}). This endpoint performs a case-insensitive perfect match against the country codes which are cca2, cca3, ccn3 or cioc. You can request multiple countries at the same time. Even if there are errors in the codes given, if at least one of the codes is correct, it will not affect the search and will not give you an error response. Even if the code is repeated, it will not affect the search and will not give you an error response.
      responses:
        "200":
          description: At least one code matched the country.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/country"
        "404":
          description: No country matched the codes.

  /currency/{currency}:
    get:
      summary: search for a country by its currency
      parameters:
        - in: path
          name: currency
          schema:
            type: string
          required: true
          description: The search term. This endpoint performs a case-insensitive perfect match against the currency code and a lowercase substring match against currency's name. But it does not read the currency's symbol.
      responses:
        "200":
          description: The country that matched the search term.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/country"
        "404":
          description: No country matched the currency.

  /demonym/{demonym}:
    get:
      summary: search for a country by its demonym
      parameters:
        - in: path
          name: demonym
          schema:
            type: string
          required: true
          description: The search term. This endpoint performs a case-insensitive substring match against the demonym in any language.
      responses:
        "200":
          description: The country that matched the search term.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/country"
        "404":
          description: No country matched the demonym.

  /lang/{language}:
    get:
      summary: search for a country by its language
      parameters:
        - in: path
          name: language
          schema:
            type: string
          required: true
          description: The search term. This endpoint performs a case-insensitive perfect match against the language's name and a case-insensitive perfect match against the abbreviation of languages (examples ara for arabic, fra for french, eng for english" ...)
      responses:
        "200":
          description: There are one or more countries that matched the search term.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/country"
        "404":
          description: No country matched the language.

  /capital/{capital}:
    get:
      summary: search for a country by its capital
      parameters:
        - in: path
          name: capital
          schema:
            type: string
          required: true
          description: The search term. This endpoint performs a case-insensitive substring match against the capital's name.
      responses:
        "200":
          description: There are one or more countries that matched the search term.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/country"
        "404":
          description: No country matched the capital.

  /region/{region}:
    get:
      summary: search for a country by its region or subregion
      parameters:
        - in: path
          name: region
          schema:
            type: string
          required: true
          description: The search term. This endpoint performs a case-insensitive substring match against the region's name and a case-insensitive perfect match against the subregion's name.
      responses:
        "200":
          description: There are one or more countries that matched the search term.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/country"
        "404":
          description: No country matched the region or subregion.

  /subregion/{subregion}:
    get:
      summary: search for a country by its subregion
      parameters:
        - in: path
          name: subregion
          schema:
            type: string
          required: true
          description: The search term. This endpoints performs a case-insensitive substring match against the subregion's name.
      responses:
        "200":
          description: There are one or more countries that matched the search term.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/country"
        "404":
          description: No country matched the subregion.

  /translation/{translation}:
    get:
      summary: search for a country by its name in any language
      parameters:
        - in: path
          name: translation
          schema:
            type: string
          required: true
          description: The search term. This endpoint performs a case-insensitive substring match against the country's translated name in any languages. This endpoints does not read from the "name" section and does not read the language abbreviation in the "Translations" section.
      responses:
        "200":
          description: There are one or more countries that matched the search term.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/country"
        "404":
          description: No country matched the name in this specific language.

components:
  schemas:
    country:
      type: "object"
      properties:
        name:
          type: "object"
          properties:
            common:
              type: "string"
            official:
              type: "string"
            nativeName:
              type: "object"
              properties:
                nativeName1:
                  type: "object"
                  properties:
                    official:
                      type: "string"
                    common:
                      type: "string"

        tld:
          type: "array"
          items:
            type: "string"
        cca2:
          type: "string"
        ccn3:
          type: "string"
        cca3:
          type: "string"
        cioc:
          type: "string"
        independent:
          type: "boolean"
        status:
          type: "string"
        unMember:
          type: "boolean"
        currencies:
          type: "object"
          properties:
            currency1:
              type: "object"
              properties:
                name:
                  type: "string"
                symbol:
                  type: "string"
        idd:
          type: "object"
          properties:
            root:
              type: "string"
            suffixes:
              type: "array"
              items:
                type: "string"
        capital:
          type: "array"
          items:
            type: "string"
        altSpellings:
          type: "array"
          items:
            type: "string"
        region:
          type: "string"
        subregion:
          type: "string"
        languages:
          type: "object"
          properties:
            language1:
              type: "string"
        translations:
          type: "object"
          properties:
            translation1:
              type: "object"
              properties:
                official:
                  type: "string"
                common:
                  type: "string"
        latlng:
          type: "array"
          items:
            type: "number"
        landlocked:
          type: "boolean"
        borders:
          type: "array"
          items:
            type: "string"
        area:
          type: "number"
        demonyms:
          type: "object"
          properties:
            demonyms1:
              type: "object"
              properties:
                f:
                  type: "string"
                m:
                  type: "string"
        flag:
          type: "string"
        maps:
          type: "object"
          properties:
            googleMaps:
              type: "string"
            openStreetMaps:
              type: "string"
        population:
          type: "integer"
        gini:
          type: "object"
          properties:
            "2003":
              type: "number"
        fifa:
          type: "string"
        car:
          type: "object"
          properties:
            signs:
              type: "array"
              items:
                type: "string"
            side:
              type: "string"
        timezones:
          type: "array"
          items:
            type: "string"
        continents:
          type: "array"
          items:
            type: "string"
        flags:
          type: "object"
          properties:
            png:
              type: "string"
            svg:
              type: "string"
            alt:
              type: "string"
        coatOfArms:
          type: "object"
          properties:
            png:
              type: "string"
            svg:
              type: "string"
        startOfWeek:
          type: "string"
        capitalInfo:
          type: "object"
          properties:
            latlng:
              type: "array"
              items:
                type: "number"
        postalCode:
          type: "object"
          properties:
            format:
              type: "string"
            regex:
              type: "string"
