/* Restcountries intro */
.restcountries-intro img {
  width: 200px;
}

.restcountries-intro p {
  margin-top: 0;
}

.restcountries-intro h1 {
  font-family: montserrat;
  color: rgb(80, 80, 80);
}

@media screen and (max-width: 1200px) {
  .restcountries-intro img {
    width: 150px;
  }
}

/* SECTION INTRO */
.section-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-intro p {
  margin-top: var(--small-margin-value);
}

/* SPECIFIC TO RESTCOUNTRIES */
img {
  max-width: 500px;
  margin: var(--small-margin-value);
}
