.aboutMe-section .intro h1 {
  display: inline;
  background: var(--headline-background-color);
  font-size: 24px;
  /* line-height: 32px; */
}

.aboutMe-section .intro h2 {
  font-size: 20px;
  /* line-height: 28px; */
}

/* Picture */
.picture-of-me {
  max-height: 325px;
  min-width: 200px;
  width: 35%;
  float: right;
  margin-left: 20px;
}

.picture-of-me img {
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
}

.aboutMe-section .aboutMe-info p {
  margin-bottom: 20px;
  text-align: justify;
}

/* Tools-part */
.tools-part {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
  align-self: flex-start;
}

.tools-logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* Tools logo */
.tools-logo ul {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  width: 100%;
  align-items: center;
}

.tools-logo ul.logos-line1 {
  gap: 15px;
}

.tools-logo ul.logos-line2 {
  gap: 30px;
}

.tools-logo li img {
  aspect-ratio: auto;
  width: 40px;
}

.tools-logo li img.long-logo {
  aspect-ratio: auto;
  width: 90px;
}

@media screen and (min-width: 768px) {
  .aboutMe-section .intro h1 {
    font-size: 36px;
    /* line-height: 40px; */
  }

  .aboutMe-section .intro h2 {
    font-size: 30px;
    /* line-height: 36px; */
  }
}

@media screen and (max-width: 450px) {
  .aboutMe-section .aboutMe-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .picture-of-me {
    order: 3;
    width: 100%;
    margin: auto;
  }

  .tools-part {
    width: 100%;
  }

  .tools-logo ul {
    justify-content: space-between;
    gap: 0;
  }

  .tools-logo li img {
    width: 30px;
  }

  .tools-logo li img.long-logo {
    width: 75px;
  }
}

@media screen and (max-width: 300px) {
  .tools-logo ul.logos-line2 {
    gap: 15px;
  }
}
