/* COMPONENT: aboutMe-section */
.aboutMe-section .intro h1 {
  display: inline;
  background: var(--headline-background-color);
  font-size: 24px;
}

.aboutMe-section .intro h2 {
  font-size: 20px;
}

/* COMPONENT: picture-of-me */
.picture-of-me {
  max-height: 325px;
  min-width: 200px;
  width: 35%;
  float: right;
  margin-left: 20px;
}

.picture-of-me img {
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
}

/* COMPONENT: aboutMe-info */
.aboutMe-info p {
  margin-bottom: 20px;
  text-align: justify;
}

@media screen and (max-width: 450px) {
  .aboutMe-section .aboutMe-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .picture-of-me {
    order: 3;
    width: 100%;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .aboutMe-section .intro h1 {
    font-size: 36px;
  }

  .aboutMe-section .intro h2 {
    font-size: 30px;
  }
}

/* ------------------------------    COMPONENT: Tools-part -------------------------------   */
.tools-part {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
  align-self: flex-start;
}

/* COMPONENT: tools-logo */
.tools-logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.tools-logo .text-and-icon .logo-image {
  width: 30px;
}

.tools-logo .text-and-icons-list {
  justify-content: space-between;
  row-gap: 15px;
}

.tools-logo .text-and-icon::after {
  width: 0;
}

.tools-logo .text-and-icons-list .text-and-icon {
  width: 45%;
}

@media screen and (min-width: 450px) {
  .tools-logo .text-and-icons-list .text-and-icon {
    width: 30%;
  }
}

@media screen and (min-width: 600px) {
  .tools-logo .text-and-icons-list .text-and-icon {
    width: 22%;
  }
}

@media screen and (min-width: 662px) {
  .tools-logo .text-and-icons-list .text-and-icon {
    width: 30%;
  }
}

@media screen and (min-width: 800px) {
  .tools-logo .text-and-icons-list .text-and-icon {
    width: 22%;
  }

  .tools-logo {
    gap: 25px;
  }
}

/* -------------------------    Contact me    --------------------------    */
.about-me-contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
