/* SECTION INTRODUCTION */
.intro {
  text-align: center;
}

/* SECTION INFO ABOUT ME */
.info-about-me {
  background-color: var(--section-bg-color);
  padding-top: var(--small-padding-value);
  padding-bottom: var(--small-padding-value);
}
