@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  font-size: var(--text-font-size-value);
  color: var(--primary-text-color);
}

:root {
  --body-bg-color: #fff;

  --border-color: #e5e7eb;

  --primary-text-color: #374151;
  --navigationlink-text-color: #000;
  --headline-text-color: #000;

  --text-font-size-value: 14px;
  --navigationBar-logo-font-size-value: 18px;
  --h1-font-size-value: 24px;
  --h2-font-size-value: 20px;
  --h3-font-size-value: 18px;

  --navigationBar-lineHeight: 20px;
  --h1-lineHeight: 32px;
  --h2-lineHeight: 28px;
  --h3-lineHeight: 28px;
  --p--lineHeight: 28px;

  --headline-font-weight: 700;
  --navigationlink-font-weight: 500;
  --normalText-font-weight: 400;

  --navigationBar-padding: 16px;
  --section-padding: 80px;

  --header-margin-bottom: 80px;
}

@media screen and (min-width: 768px) {
  :root {
    --text-font-size-value: 16px;
    --navigationBar-logo-font-size-value: 20px;
    --h1-font-size-value: 36px;
    --h2-font-size-value: 30px;
    --h3-font-size-value: 24px;

    --navigationBar-lineHeight: 24px;
    --h1-lineHeight: 40px;
    --h2-lineHeight: 36px;
    --h3-lineHeight: 32px;
  }
}

/*      --------------------        ELEMENTS        -----------------------------       */
header {
  margin-bottom: var(--header-margin-bottom);
}

body {
  background-color: var(--body-bg-color);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: var(--h1-font-size-value);
  line-height: var(--h1-lineHeight);
  color: var(--headline-text-color);
  font-weight: var(--headline-font-weight);
}

h2 {
  font-size: var(--h2-font-size-value);
  line-height: var(--h2-lineHeight);
  color: var(--headline-text-color);
  font-weight: var(--headline-font-weight);
}

h3 {
  font-size: var(--h3-font-size-value);
  line-height: var(--h3-lineHeight);
  color: var(--headline-text-color);
  font-weight: var(--headline-font-weight);
}

p {
  line-height: var(--p--lineHeight);
  font-weight: var(--normalText-font-weight);
}

/*      --------------------        COMPONENTS        -----------------------------       */
.section-layout {
  max-width: 68rem;
  margin-left: auto;
  margin-right: auto;
  width: 91.666667%;
}

.section-properties {
  padding-top: var(--section-padding);
}

.topScreen-line-decoration {
  width: 100%;
  height: 8px;
  position: fixed;
  top: 0;
  z-index: 150;
  background: linear-gradient(
    to right top,
    rgb(219, 255, 0),
    rgb(0, 232, 135),
    rgb(0, 224, 243)
  );
}

/* NAVIGATION BAR */
.navigation-bar-parent {
  background-color: var(--body-bg-color);
  height: calc(
    2 * var(--navigationBar-padding) + 2 * var(--navigationBar-lineHeight)
  ); /* Height of padding-top + padding-bottom + line-height of menu a */
  width: 100%;
  position: fixed;
  z-index: 90;
}
.navigation-bar {
  padding-top: var(--navigationBar-padding);
  padding-bottom: var(--navigationBar-padding);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  background-color: var(--body-bg-color);
}

/* MENU BAR */
.navigation-bar .menu {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navigation-bar .menu a {
  padding-top: var(--navigationBar-padding);
  padding-bottom: var(--navigationBar-padding);
  line-height: var(--navigationBar-lineHeight);
  font-weight: var(--navigationlink-font-weight);
  color: var(--navigationlink-text-color);
}

/* GITHUB ICON */
.navigation-bar .fa-github {
  font-size: var(--navigationBar-logo-font-size-value);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 10px;
}
