@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  font-size: var(--text-font-size-value);
  color: var(--primary-text-color);
  line-height: var(--p--lineHeight);
}

:root {
  --body-bg-color: #fff;
  --button-bg-color: #fff;
  --border-color: #e5e7eb;
  --button-border-color: #d1d5db;
  --primary-text-color: #374151;
  --navigationlink-text-color: #000;
  --button-text-color: #1f2937;
  --headline-text-color: #000;
  --text-and-icons-color: #4b5563;
  --headline-background-color: linear-gradient(
    to right top,
    rgba(0, 232, 135, 0.4),
    rgba(0, 232, 135, 0.4),
    rgba(0, 224, 243, 0.4)
  );

  --text-font-size-value: 14px;
  --navigationBar-logo-font-size-value: 18px;
  --button-font-size-value: 14px;
  --h1-font-size-value: 30px;
  --h2-font-size-value: 24px;
  --h3-font-size-value: 18px;
  --h4-font-size-value: 16px;

  --logo-width-value: 20px;

  --logo-height-value: 20px;

  --navigationBar-lineHeight: 20px;
  --button-lineHeight: 20px;
  --logo-card-lineHeight: 20px;
  --h1-lineHeight: 36px;
  --h2-lineHeight: 32px;
  --h3-lineHeight: 28px;
  --h4-lineHeight: 24px;
  --p--lineHeight: 28px;

  --headline-font-weight: 700;
  --button-font-weight: 700;
  --navigationlink-font-weight: 500;
  --text-and-icons-weight: 500;
  --normalText-font-weight: 400;

  --navigationBar-padding: 16px;
  --button-top-bottom-padding: 8px;
  --button-left-right-padding: 16px;
  --section-destkop-padding: 80px;
  --section-mobile-padding: 40px;

  --header-margin-bottom: 80px;
  --contact-margin-bottom: 80px;

  /* Specific to project details */
  --h1-project-details-font-size-value: 24px;
  --h2-project-details-font-size-value: 24px;
  --p-project-details-font-size-value: 16px;
  --project-details-projectIntro-normal-text-font-size-value: 14px;

  /* --h1-project-details-lineHeight: 32px;
  --p-project-details-lineHeight: 28px; */

  --a-project-details-color: #006bff;
}

@media screen and (min-width: 768px) {
  :root {
    --text-font-size-value: 16px;
    --navigationBar-logo-font-size-value: 20px;
    --button-font-size-value: 18px;
    --h1-font-size-value: 48px;
    --h2-font-size-value: 36px;
    --h3-font-size-value: 24px;
    --h4-font-size-value: 18px;

    --navigationBar-lineHeight: 24px;
    --button-lineHeight: 28px;
    --logo-card-lineHeight: 24px;
    --h1-lineHeight: 48px;
    --h2-lineHeight: 40px;
    --h3-lineHeight: 32px;
    --h4-lineHeight: 28px;

    /* Specific to project details */
    --h1-project-details-font-size-value: 36px;

    /* --h1-project-details-lineHeight: 40px; */
  }
}

@media screen and (min-width: 1536px) {
  :root {
    --text-font-size-value: 18px;
    --h1-font-size-value: 60px;
    --h2-font-size-value: 48px;

    --h1-lineHeight: 60px;
    --h2-lineHeight: 48px;
  }
}

/*      --------------------        ELEMENTS        -----------------------------       */
header {
  margin-bottom: var(--header-margin-bottom);
}

body {
  background-color: var(--body-bg-color);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: var(--h1-font-size-value);
  line-height: var(--h1-lineHeight);
  color: var(--headline-text-color);
  font-weight: var(--headline-font-weight);
}

h2 {
  font-size: var(--h2-font-size-value);
  line-height: var(--h2-lineHeight);
  color: var(--headline-text-color);
  font-weight: var(--headline-font-weight);
}

h3 {
  font-size: var(--h3-font-size-value);
  line-height: var(--h3-lineHeight);
  color: var(--headline-text-color);
  font-weight: var(--headline-font-weight);
}

h4 {
  font-size: var(--h4-font-size-value);
  line-height: var(--h4-lineHeight);
  color: var(--headline-text-color);
}

p {
  line-height: var(--p--lineHeight);
  font-weight: var(--normalText-font-weight);
}

/* BUTTON */
button {
  padding: var(--button-top-bottom-padding) var(--button-left-right-padding);
  font-size: var(--button-font-size-value);
  /* line-height: var(--button-lineHeight); */
  font-weight: var(--button-font-weight);
  border-radius: 4px;
  border: 1px solid var(--button-border-color);
  color: var(--button-text-color);
  background-color: var(--button-bg-color);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

/*      --------------------        COMPONENTS        -----------------------------       */
.section-layout {
  max-width: 68rem;
  margin-left: auto;
  margin-right: auto;
  width: 91.666667%;
}

.section-properties {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: var(--section-mobile-padding);
}

@media screen and (min-width: 768px) {
  .section-properties {
    padding-top: var(--section-destkop-padding);
  }
}

.topScreen-line-decoration {
  width: 100%;
  height: 8px;
  position: fixed;
  top: 0;
  z-index: 150;
  background: linear-gradient(
    to right top,
    rgb(219, 255, 0),
    rgb(0, 232, 135),
    rgb(0, 224, 243)
  );
}

/* Text-and-icons */
.text-and-icons-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
}

.text-and-icon {
  display: inline-flex;
  align-items: baseline;
  gap: 4px;
}

.text-and-icon a {
  color: var(--text-and-icons-color);
  font-weight: var(--text-and-icons-weight);
}

.text-and-icon .logo-image {
  width: 16px;
  align-self: center;
}

/* Logos-card */
.logos-list-card {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 8px;
}

.logo-card {
  width: var(--logo-width-value);
  height: var(--logo-height-value);
}
/* ----------------------------     NAVIGATION BAR ---------------------------------    */
.navigation-bar-parent {
  background-color: var(--body-bg-color);
  height: 5px;
  width: 100%;
  position: fixed;
  z-index: 90;
}

.navigation-bar {
  padding-top: var(--navigationBar-padding);
  padding-bottom: var(--navigationBar-padding);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  background-color: var(--body-bg-color);
}

/* MENU BAR */
.navigation-bar .menu {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navigation-bar .menu a {
  padding-top: var(--navigationBar-padding);
  padding-bottom: var(--navigationBar-padding);
  /* line-height: var(--navigationBar-lineHeight); */
  font-weight: var(--navigationlink-font-weight);
  color: var(--navigationlink-text-color);
}

/* GITHUB ICON */
.navigation-bar .fa-github {
  font-size: var(--navigationBar-logo-font-size-value);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 10px;
}

/* -----------------      CONTACT -------------------------    */
.contact {
  margin-bottom: var(--contact-margin-bottom);
}

/* -------------------    PROJECT DETAILS ------------------    */

/* -------  Project-intro ------ */

/* Project name */
.project-details .project-intro .project-name {
  font-size: var(--h1-project-details-font-size-value);
}

/* Project  introduction*/
.project-details .project-intro .project-introduction {
  margin-top: 8px;
  font-size: var(--project-details-projectIntro-normal-text-font-size-value);
}
.project-details .project-intro .project-introduction a {
  color: var(--a-project-details-color);
  font-size: var(--project-details-projectIntro-normal-text-font-size-value);
}

/* Project text-and-icons-list */
.project-details .project-intro .text-and-icons-list {
  margin-top: 8px;
  font-size: var(--project-details-projectIntro-normal-text-font-size-value);
}

.project-details .project-intro .text-and-icons-list .text-and-icon a {
  font-size: var(--project-details-projectIntro-normal-text-font-size-value);
}

/* Project <hr> */
.project-details .project-intro hr {
  margin-top: 16px;
  border-top: 1px var(--border-color);
}

/* ------- Project-content ------ */
.project-content {
  display: flex;
  gap: 32px;
}

.project-content .project-content-main {
  max-width: 800px;
}

/* Project title */
.project-content .project-content-main .project-content-section .title {
  font-size: var(--h2-project-details-font-size-value);
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 16px;
  position: relative;
}

.project-content .project-content-main .project-content-section .title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px; /* Adjust the width of the border as needed */
  height: 100%;
  background: linear-gradient(
    0deg,
    rgb(0, 255, 148),
    rgb(0, 224, 243),
    rgb(0, 196, 253)
  );
}

.project-content
  .project-content-main
  .project-content-section
  .title.first-section-title {
  margin-top: 0;
}

/* project-section-details */
.project-content
  .project-content-main
  .project-content-section
  .project-section-details {
  margin-top: 20px;
  margin-bottom: 20px;
}

.project-content
  .project-content-main
  .project-content-section
  .project-section-details
  p {
  font-size: 16px;
}

.project-content
  .project-content-main
  .project-content-section
  .project-section-details
  a {
  color: var(--a-project-details-color);
  font-size: 16px;
  font-weight: 400;
}

.project-content
  .project-content-main
  .project-content-section
  .project-section-details
  .project-video {
  width: 100%;
  height: 400px;
  margin-top: 20px;
  border: 0;
}

.project-content
  .project-content-main
  .project-content-section
  .project-section-details
  .project-test-report {
  width: 100%;
  max-height: 500px;
  overflow: auto;
  margin-top: 20px;
  background-color: #000000;
}

/* Table of contents */

.project-content .table-of-contents {
  display: none;
}

@media screen and (min-width: 1024px) {
  .project-content .table-of-contents {
    display: block;
    width: 250px;
  }
}
