* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
  font-size: var(--text-font-size-value);
}

:root {
  --body-bg-color: #fff;
  --section-bg-color: #f7faff;
  --button-bg-color: #006bff;

  --primary-text-color: #476788;
  --header-navbar-text-color: #1d344b;
  --secondary-link-hover-color: #c3d1f6;
  --button-text-color: #fff;

  --small-padding-value: 20px;
  --medium-padding-value: 40px;
  --large-padding-value: 80px;
  --Xlarge-padding-value: 120px;
  --XXlarge-padding-value: 160px;
  --XXXlarge-padding-value: 200px;
  --XXXXlarge-padding-value: 240px;

  --small-margin-value: 20px;
  --medium-margin-value: 40px;
  --large-margin-value: 80px;
  --Xlarge-margin-value: 120px;

  --text-font-size-value: 14px;
  --contact-font-size-value: 16px;
  --h1-font-size-value: 28px;
  --h2-font-size-value: 24px;
  --h3-font-size-value: 20px;
  --h4-font-size-value: 16px;
  --h5-font-size-value: 12px;
  --h6-font-size-value: 8px;
}

/* ELEMENTS */
body {
  max-width: 1300px;
  margin: auto;
}

main {
  background-color: var(--body-bg-color);
  margin: 0 16px;
  padding-top: var(--Xlarge-padding-value);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: lato, sans-serif;
  color: var(--button-bg-color);
}

h1,
h2,
button {
  font-family: lato, sans-serif;
  color: var(--header-navbar-text-color);
}

h1 {
  font-size: var(--h1-font-size-value);
}

h2 {
  margin: var(--small-margin-value);
  font-size: var(--h2-font-size-value);
}

h3 {
  color: var(--header-navbar-text-color);
  font-size: var(--h3-font-size-value);
  margin: var(--small-margin-value);
}

h4 {
  font-size: var(--h4-font-size-value);
  margin: var(--small-margin-value);
  color: var(--primary-text-color);
}

h5 {
  font-size: var(--h5-font-size-value);
  margin: var(--small-margin-value);
  color: var(--primary-text-color);
}

p {
  color: var(--primary-text-color);
  font-size: var(--text-font-size-value);
  line-height: 1.5;
  margin: var(--small-margin-value);
  max-width: 800px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-link-hover-color);
  border-radius: 10px;
}

/* -------------------    Components    ---------------------   */
section {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: var(--small-padding-value);
  background-color: var(--section-bg-color);
  margin-bottom: var(--medium-margin-value);
  padding: 30px;
}

/* .picture {
  width: 100%;
  max-width: 800px;
  aspect-ratio: 2;
  position: relative;
  overflow: hidden;
  background-color: #c3d1f6;
} */

img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

/* BUTTON */
.button {
  display: flex;
  justify-content: space-around;
}

button {
  width: 100%;
  max-width: 500px;
  height: 50px;
  cursor: pointer;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  font-weight: 700;
  font-size: var(--contact-font-size-value);
  border: solid 2px var(--button-bg-color);
  box-shadow: 0 5px 10px -8px rgba(0, 0, 0, 0.7);
  position: relative;
  transition: all 0.5s;
}

button:after {
  content: "»";
  font-size: var(--contact-font-size-value);
  position: absolute;
  opacity: 0;
  right: 20px;
  transition: 0.5s;
}

button:hover {
  background-color: var(--secondary-link-hover-color);
  color: var(--button-bg-color);
  padding-right: 24px;
  padding-left: 8px;
}

button:hover:after {
  opacity: 1;
  right: 120px;
}

.button {
  width: 100%;
}

/* navigation bar */
.navigation-bar {
  width: 100%;
  max-width: 1300px;
  height: 45px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  background-color: var(--section-bg-color);
  border-bottom: 1px solid var(--secondary-link-hover-color);
}

.checkbox-toggler {
  display: none;
}

/* LOGO */
.logo {
  margin-left: var(--small-margin-value);
  cursor: pointer;
}

.logo h3 {
  color: var(--button-bg-color);
}

/*  -------------     HAMBURGER-MENU ---------------    */
.hamburger-menu {
  height: 20px;
  width: 30px;
  display: flex;
  align-items: center;
  margin-right: var(--small-margin-value);
  z-index: 100;
  cursor: pointer;
}

.nav-icon {
  width: 50px;
  height: 2px;
  background: var(--button-bg-color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  width: 30px;
  height: 2px;
  background: var(--button-bg-color);
  position: absolute;
  transition: transform 0.2s;
}
.nav-icon::before {
  transform: translateY(-10px);
}

.nav-icon::after {
  transform: translateY(10px);
}

/* HAMBURGER MENU WHEN HOVERED */
.hamburger-menu:hover .nav-icon::before {
  transform: translateY(-15px);
}

.hamburger-menu:hover .nav-icon::after {
  transform: translateY(15px);
}

/* HAMBURGER MENU WHEN CLICKED */
.checkbox-toggler {
  display: none;
}

.checkbox-toggler:checked + .hamburger-menu .nav-icon {
  background-color: transparent;
}
.checkbox-toggler:checked + .hamburger-menu .nav-icon::before {
  transform: translateY(0px) rotate(135deg);
}
.checkbox-toggler:checked + .hamburger-menu .nav-icon::after {
  transform: translateY(0px) rotate(-135deg);
}

/* HAMBUGER MENU ANIMATION */
.nav-bg {
  height: 1px;
  width: 1px;
  border-radius: 50%;
  position: fixed;
  top: 5%;
  right: 11%;
  background-color: var(--section-bg-color);
  transition: transform 0.3s;
}

.checkbox-toggler:checked ~ .nav-bg {
  transform: scale(5000);
}

/* THE LIST OF THE HAMBUGER MENU APPEAR */
.navigation {
  height: 100vh;
  width: 100%;
  position: fixed;
  display: none;
  transition: transform 0.3s;
}

.nav-list {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.nav-link {
  color: var(--header-navbar-text-color);
  font-size: var(--h1-font-size-value);
}

.nav-link:hover {
  color: var(--button-text-color);
  background-color: var(--button-bg-color);
  padding: var(--small-padding-value);
  transition: all 0.3s;
}

.checkbox-toggler:checked ~ .navigation {
  display: block;
}

/* MENU BAR */
.navigation-bar .menu {
  display: none;
}

/* CONTACT ME */
.contact-me {
  gap: 0;
}
.contact-me h4 {
  font-weight: 400;
}

.contact-me p {
  margin: 0;
}

/* --------------------       MEDIA QUERIES       ------------------------    */

/* MEDIA QUERIES HIGHER THAN 700PX */
@media screen and (min-width: 700px) {
  :root {
    --text-font-size-value: 14px;
    --contact-font-size-value: 18px;
    --h1-font-size-value: 30px;
    --h2-font-size-value: 26px;
    --h3-font-size-value: 22px;
    --h4-font-size-value: 20px;
  }

  button {
    height: 70px;
  }

  /* HAMBURGER MENU DISAPPEAR AND MENU APPEAR */
  .hamburger-menu {
    display: none;
  }

  .navigation-bar .menu {
    display: flex;
    align-items: center;
    width: clamp(500px, 50%, 1000px);
  }

  .navigation-bar .menu a:first-of-type {
    margin-left: auto;
  }

  .navigation-bar .menu a {
    margin: 0 var(--small-margin-value);
    position: relative;
  }

  .navigation-bar .menu a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--button-bg-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .navigation-bar .menu a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .introduction img {
    width: 40%;
    /* height: 100%; */
  }
}

/* MEDIA QUERIES HIGHER THAN 1200PX */
@media screen and (min-width: 1200px) {
  :root {
    --text-font-size-value: 16px;
    --contact-font-size-value: 24px;
    --h1-font-size-value: 34px;
    --h2-font-size-value: 32px;
    --h3-font-size-value: 30px;
    --h4-font-size-value: 18px;
  }

  .introduction img {
    width: 30%;
    /* height: 100%; */
  }
}
