* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
  font-size: var(--text-font-size-value);
}

:root {
  --body-bg-color: #fff;
  --section-bg-color: #f7faff;
  --button-bg-color: #006bff;

  --primary-text-color: #476788;
  --header-navbar-text-color: #1d344b;
  --secondary-link-hover-color: #c3d1f6;
  --button-text-color: #fff;

  --small-padding-value: 20px;
  --medium-padding-value: 40px;
  --large-padding-value: 80px;
  --Xlarge-padding-value: 120px;
  --XXlarge-padding-value: 160px;
  --XXXlarge-padding-value: 200px;
  --XXXXlarge-padding-value: 240px;

  --small-margin-value: 20px;
  --medium-margin-value: 40px;
  --large-margin-value: 80px;
  --Xlarge-margin-value: 120px;

  --text-font-size-value: 14px;
  --contact-font-size-value: 18px;
  --h1-font-size-value: 30px;
  --h2-font-size-value: 26px;
  --h3-font-size-value: 22px;
  --h4-font-size-value: 18px;
  --h5-font-size-value: 14px;
  --h6-font-size-value: 10px;
}

@media screen and (min-width: 700px) {
  :root {
    --text-font-size-value: 18px;
    --h1-font-size-value: 34px;
    --h2-font-size-value: 30px;
    --h3-font-size-value: 26px;
    --h4-font-size-value: 22px;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --text-font-size-value: 22px;
    --h1-font-size-value: 38px;
    --h2-font-size-value: 34px;
    --h3-font-size-value: 30px;
    --h4-font-size-value: 26px;
  }
}

/* ELEMENTS */
main {
  background-color: var(--body-bg-color);
  margin: 0 16px;
  padding-top: var(--Xlarge-padding-value);
}

section {
  margin-bottom: var(--Xlarge-margin-value);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: lato, sans-serif;
  color: var(--button-bg-color);
}

h1,
h2,
button {
  font-family: lato, sans-serif;
  color: var(--header-navbar-text-color);
}

h1 {
  font-size: var(--h1-font-size-value);
}

h2 {
  margin: var(--small-margin-value);
  font-size: var(--h2-font-size-value);
}

h3 {
  color: var(--header-navbar-text-color);
  font-size: var(--h3-font-size-value);
  margin: var(--small-margin-value);
}

h4 {
  font-size: var(--h4-font-size-value);
  margin: var(--small-margin-value);
}

p {
  color: var(--primary-text-color);
  font-size: var(--text-font-size-value);
  line-height: 1.5;
  margin: var(--small-margin-value);
}

/* -------------------    Components    ---------------------   */

.picture {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
  background-color: #c3d1f6;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* BUTTON */
button {
  width: 100%;
  height: 50px;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  font-weight: 700;
  font-size: var(--contact-font-size-value);
  border: solid 2px var(--button-bg-color);
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  position: relative;
  transition: all 0.5s;
}

button:after {
  content: "»";
  font-size: var(--contact-font-size-value);
  position: absolute;
  opacity: 0;
  right: 20px;
  transition: 0.5s;
}

button:hover {
  background-color: var(--secondary-link-hover-color);
  color: var(--button-bg-color);
  padding-right: 24px;
  padding-left: 8px;
}

button:hover:after {
  opacity: 1;
  right: 120px;
}

/* navigation bar */
.navigation-bar {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  background-color: var(--section-bg-color);
  border-bottom: 1px solid var(--header-navbar-text-color);
}

.checkbox-toggler {
  display: none;
}

/* LOGO */
.logo {
  margin-left: var(--small-margin-value);
}

.logo img {
  width: 50px;
  height: 50px;
}

/*  -------------     HAMBURGER-MENU ---------------    */
.hamburger-menu {
  height: 20px;
  width: 30px;
  display: flex;
  align-items: center;
  margin-right: var(--small-margin-value);
  z-index: 100;
}

.nav-icon {
  width: 50px;
  height: 2px;
  background: var(--button-bg-color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  width: 30px;
  height: 2px;
  background: var(--button-bg-color);
  position: absolute;
  transition: transform 0.2s;
}
.nav-icon::before {
  transform: translateY(-10px);
}

.nav-icon::after {
  transform: translateY(10px);
}

/* HAMBURGER MENU WHEN HOVERED */
.hamburger-menu:hover .nav-icon::before {
  transform: translateY(-15px);
}

.hamburger-menu:hover .nav-icon::after {
  transform: translateY(15px);
}

/* HAMBURGER MENU WHEN CLICKED */
.checkbox-toggler {
  display: none;
}

.checkbox-toggler:checked + .hamburger-menu .nav-icon {
  background-color: transparent;
}
.checkbox-toggler:checked + .hamburger-menu .nav-icon::before {
  transform: translateY(0px) rotate(135deg);
}
.checkbox-toggler:checked + .hamburger-menu .nav-icon::after {
  transform: translateY(0px) rotate(-135deg);
}

/* HAMBUGER MENU ANIMATION */
.nav-bg {
  height: 1px;
  width: 1px;
  border-radius: 50%;
  position: fixed;
  top: 5%;
  right: 11%;
  background-color: var(--section-bg-color);
  transition: transform 0.3s;
}

.checkbox-toggler:checked ~ .nav-bg {
  transform: scale(5000);
}

/* THE LIST OF THE HAMBUGER MENU APPEAR */
.navigation {
  height: 100vh;
  width: 100%;
  position: fixed;
  display: none;
  transition: transform 0.3s;
}

.nav-list {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.nav-link {
  color: var(--header-navbar-text-color);
  font-size: var(--h1-font-size-value);
}

.nav-link:hover {
  color: var(--button-text-color);
  background-color: var(--button-bg-color);
  padding: var(--small-padding-value);
  transition: all 0.3s;
}

.checkbox-toggler:checked ~ .navigation {
  display: block;
}

@media screen and (min-width: 700px) {
  .hamburger-menu {
    display: none;
  }
}

/* MENU BAR */
.navigation-bar .menu {
  display: none;
}

@media screen and (min-width: 700px) {
  .navigation-bar .menu {
    display: flex;
    align-items: center;
    width: clamp(450px, 30%, 600px);
  }

  .navigation-bar .menu a {
    padding: 0 var(--medium-padding-value);
    font-weight: 600;
  }
}

/* CONTACT ME */
.contact-me {
  gap: 0;
}
.contact-me h4 {
  margin-top: 0;
}
