/* Portfolio */
.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--small-padding-value);
}

.portfolio .picture {
  width: 100%;
  height: 200px;
  background-color: #c3d1f6;
}
