html {
  scroll-behavior: smooth;
}

.portfolio ul {
  display: flex;
  width: 100%;
}

.portfolio li {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .portfolio li {
    width: 30%;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio li {
    width: 20%;
  }
}
