/* COMPONENTS: homepage-intro */
.homepage-intro {
  gap: 0;
}
.homepage-intro h1 {
  margin-top: 4px;
}

.homepage-intro p {
  margin-top: 16px;
  max-width: 896px;
}

@media screen and (min-width: 768px) {
  .homepage-intro p {
    font-size: 18px;
  }
}

.homepage-intro h1 span {
  font-size: var(--h1-font-size-value);
  color: var(--headline-text-color);
  background: var(--headline-background-color);
}

.homepage-intro button {
  margin-top: 32px;
}

.homepage-intro .text-and-icons-list {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .homepage-intro p {
    margin-top: 24px;
  }

  .homepage-intro .text-and-icons-list {
    margin-top: 32px;
  }
}

/* COMPONENTS: projects-list-section-intro */
.projects-list-section-intro h2 {
  display: inline;
  background: var(--headline-background-color);
}
.projects-list-section-intro p {
  margin-top: 8px;
}

/* COMPONENTS: project-cards-list*/
.projects-list-section .project-cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.projects-list-section .project-cards-list {
  margin-top: 9px;
}

/* COMPONENTS: project-card*/
.project-card {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  padding: 16px;
  width: 100%;
}

.project-card:hover {
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.project-card:hover .see-more span::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media screen and (min-width: 640px) and (max-width: 1280px) {
  .project-card {
    width: 48%;
  }
}

@media screen and (min-width: 1280px) {
  .project-card {
    width: 32%;
  }
}

/* COMPONENTS: project-card-link*/
.project-card-link {
  display: flex;
  flex-direction: column;
}

/* COMPONENTS: project-card-link-description*/
@media screen and (min-width: 768px) {
  .project-card-link-description {
    font-size: 14px;
  }
}

/* COMPONENTS: logos-list-card in projects-list-section*/
.projects-list-section .logos-list-card {
  margin-top: 8px;
}

/* COMPONENTS: project-card-image */
.projects-list-section .project-card-image {
  margin-top: 12px;
}

.project-card-image img {
  border-radius: 4px;
  border: 1px var(--button-border-color);
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

/* COMPONENTS:  title-and-chip*/
.title-and-chip {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* COMPONENTS:  Chips */
.project-card-chip {
  padding: 0 10px;
  font-size: var(--chip-projectCard-font-size-value);
  border-radius: 15px;
  width: 90px;
  text-align: center;
  font-weight: var(--chip-projectCard-font-weight);
  line-height: var(--chip-projectCard-lineHeight);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.chip-e2e {
  background-color: var(--chip-projectCard-e2e-background-color);
}

.chip-API {
  background-color: var(--chip-projectCard-API-background-color);
}

.chip-performance {
  background-color: var(--chip-projectCard-performance-background-color);
}

/* COMPONENTS:  see-more*/
.see-more {
  color: var(--navigationlink-text-color);
  font-weight: var(--navigationlink-font-weight);
  margin-top: 8px;
}

.see-more span {
  position: relative;
}

.see-more span::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-image: var(--text-and-icons-hover-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
