/* INTRODUCTION SECTION */
.introduction {
  background-color: var(--body-bg-color);
}

/* PORTFOLIO SECTION */
.portfolio-section-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-all {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-all .fa-angle-down {
  font-size: 30px;
}

@media screen and (min-width: 1270px) {
  .portfolio-section-intro {
    flex-direction: row;
  }
}
