/* Twitter-Clone intro */

.twitter-Clone-intro p {
  margin-top: 0;
}

.twitter-Clone-intro h1 {
  font-family: montserrat;
  color: rgb(80, 80, 80);
}

/* SPECIFIC TO TWITTER-CLONE */

ol {
  margin-left: 40px;
  color: var(--primary-text-color);
}
