section {
  background-color: var(--section-bg-color);
}

section h1 {
  padding: var(--small-padding-value);
}

/* twitterClone-intro */
.twitterClone-intro h1 {
  font-family: montserrat;
  color: rgb(80, 80, 80);
}

ol {
  margin-left: 40px;
  color: var(--primary-text-color);
}
