/* twitterClone-intro */
.twitterClone-intro p {
  margin-top: 0;
}

.twitterClone-intro h1 {
  font-family: montserrat;
  color: rgb(80, 80, 80);
}

/* SECTION INTRO */
.section-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-intro p {
  margin-top: var(--small-margin-value);
}

/* SPECIFIC TO TWITTER-CLONE */

ol {
  margin-left: 40px;
  color: var(--primary-text-color);
}
img.bug1 {
  max-width: 150px;
  margin: var(--small-margin-value);
}

img.bug2 {
  max-width: 70px;
  margin: var(--small-margin-value);
}

img.bug3 {
  max-width: 350px;
  margin: var(--small-margin-value);
}

img.bug4 {
  max-width: 450px;
  margin: var(--small-margin-value);
}

/* SPECIFICATIONS */

.specifications .parent-menu {
  font-weight: 700;
  margin-left: 20px;
  color: var(--primary-text-color);
}
.specifications .submenu {
  margin-left: 40px;
  font-weight: 500;
  color: var(--primary-text-color);
}

.specifications .sub-submenu {
  margin-left: 60px;
  font-weight: 500;
  color: var(--primary-text-color);
}

.specifications .sub-sub-submenu {
  margin-left: 80px;
  font-weight: 500;
  color: var(--primary-text-color);
}

.specifications .sub-sub-sub-submenu {
  margin-left: 100px;
  font-weight: 500;
  color: var(--primary-text-color);
}

.specifications ul,
li {
  margin-top: 10px;
  margin-bottom: 10px;
}
