/* billzer-intro */
.billzer-intro img {
  width: 150px;
  margin-bottom: 0;
}

.billzer-intro p {
  margin-top: 0;
}

@media screen and (max-width: 1200px) {
  .billzer-intro img {
    width: 120px;
  }
}

section {
  background-color: var(--section-bg-color);
}

section h1 {
  padding: var(--small-padding-value);
}

/* BUG SECTION */
.billzer-bugImage-layout1 {
  max-width: 500px;
  margin: var(--small-margin-value);
}

.billzer-bugImage-layout2 {
  max-width: 250px;
}
