/* Twitter-Clone intro */
.twitter-Clone-intro h1 {
  font-family: montserrat;
  color: rgb(80, 80, 80);
}

/* ------------------     Scenario outline --------------------   */
.blue-section.scenario-outline h1 {
  padding: 0;
}

.scenario-outline .parent-menu {
  font-weight: 500;
}

/* ----------------------   CANVAS ----------------------------   */
.chart-container {
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrollbar when needed */
  overflow-y: auto; /* Enable vertical scrollbar when needed */
}

@media screen and (max-width: 800px) {
  .chart-container {
    overflow-x: scroll; /* Force horizontal scrollbar for smaller screens */
    overflow-y: scroll; /* Force vertical scrollbar for smaller screens */
  }
}

canvas {
  display: block;
  margin: auto;
}

/* Class white-background */
.white-background {
  background-color: var(--body-bg-color);
  padding: var(--Xsmall-padding-value);
}
