section {
  background-color: var(--section-bg-color);
}

section h1 {
  padding: var(--small-padding-value);
}

/* Twitter-Clone intro */
.twitter-Clone-intro h1 {
  font-family: montserrat;
  color: rgb(80, 80, 80);
}

/* Scenario outline */
.scenario-outline .parent-menu {
  font-weight: 500;
}

/* CANVAS */
#chart-container {
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrollbar when needed */
  overflow-y: auto; /* Enable vertical scrollbar when needed */
}

@media screen and (max-width: 800px) {
  #chart-container {
    overflow-x: scroll; /* Force horizontal scrollbar for smaller screens */
    overflow-y: scroll; /* Force vertical scrollbar for smaller screens */
  }
}

canvas {
  display: block;
  margin: auto;
}
