/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: var(--text-font-size-value);
  color: var(--normal-text-color);
}

:root {
  --body-background-color: #dad3c1;
  --section-background-color: #f9f4e5;
  --normal-text-color: #2b2925;
  --small-padding-value: 20px;
  --medium-padding-value: 40px;
  --large-padding-value: 80px;
  --Xlarge-padding-value: 120px;
  --XXlarge-padding-value: 160px;
  --XXXlarge-padding-value: 200px;
  --XXXXlarge-padding-value: 240px;

  --small-margin-value: 20px;
  --medium-margin-value: 40px;
  --large-margin-value: 80px;
  --Xlarge-margin-value: 120px;

  --text-font-size-value: 14px;
  --contact-font-size-value: 18px;
  --h1-font-size-value: 30px;
  --h2-font-size-value: 26px;
  --h3-font-size-value: 22px;
  --h4-font-size-value: 18px;
  --h5-font-size-value: 14px;
  --h6-font-size-value: 10px;
}

/* ELEMENTS */
body {
  max-width: 1300px;
  margin: auto;
  background-color: var(--body-background-color);
}

main {
  padding: 0 16px;
  padding-top: var(--Xlarge-padding-value);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: var(--h1-font-size-value);
}

h2 {
  margin: var(--small-margin-value);
  font-size: var(--h2-font-size-value);
}

h3 {
  font-size: var(--h3-font-size-value);
  margin: var(--small-margin-value);
}

h4 {
  font-size: var(--h4-font-size-value);
  margin: var(--small-margin-value);
}

p {
  font-size: var(--text-font-size-value);
  line-height: 1.5;
  max-width: 800px;
}

/* -------------------    Components    ---------------------   */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--small-padding-value);
  margin-bottom: var(--large-margin-value);
  padding: var(--small-padding-value);
  border: 1px solid black;
  background-color: var(--section-background-color);
}

.picture {
  width: 100%;
  max-width: 800px;
  aspect-ratio: 2;
  position: relative;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* BUTTON */
button {
  width: 120px;
  height: 120px;
  cursor: pointer;
  color: var(--button-text-color);
  font-weight: 700;
  font-size: var(--contact-font-size-value);
  border: solid 2px black;
  border-radius: 50%;
  background-color: var(--section-background-color);
}

/* navigation bar */
.navigation-bar {
  width: 100%;
  max-width: 1300px;
  height: 60px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  border-bottom: 1px solid black;
  background-color: var(--section-background-color);
}

.checkbox-toggler {
  display: none;
}

/* LOGO */
.logo {
  margin-left: var(--small-margin-value);
  cursor: pointer;
}

/*  -------------     HAMBURGER-MENU ---------------    */
.hamburger-menu {
  height: 20px;
  width: 30px;
  display: flex;
  align-items: center;
  margin-right: var(--small-margin-value);
  z-index: 100;
  cursor: pointer;
}

.nav-icon {
  width: 50px;
  height: 2px;
  background: black;
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  width: 30px;
  height: 2px;
  background: black;
  position: absolute;
  transition: transform 0.2s;
}
.nav-icon::before {
  transform: translateY(-10px);
}

.nav-icon::after {
  transform: translateY(10px);
}

/* HAMBURGER MENU WHEN HOVERED */
.hamburger-menu:hover .nav-icon::before {
  transform: translateY(-15px);
}

.hamburger-menu:hover .nav-icon::after {
  transform: translateY(15px);
}

/*          --------------------    WINE BOTTLES  ---------------------     */
.wine-bottles {
  position: relative;
  height: 600px;
}

.carousel {
  display: flex;
}

.wine-bottles .slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.wine-bottles .slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 40px;
  width: 100%;
  opacity: 0;
}

.wine-bottles .slide img {
  aspect-ratio: 0.25;
  width: 100px;
  padding-bottom: var(--small-padding-value);
}

.wine-bottles .slide .wine-name {
  width: 70%;
  max-width: 300px;
  padding-bottom: var(--small-padding-value);
  border-bottom: 1px solid black;
}

.wine-bottles .price {
  display: flex;
  width: 70%;
  max-width: 300px;
  justify-content: space-between;
  padding-top: var(--small-padding-value);
}

.wine-bottles .price span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
  text-align: center;
}

.wine-bottles button {
  position: absolute;
  bottom: 0;
  transform: translate(-50%, 50%);
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;

  /* Animation */
  transition-delay: 0ms;
}
