/* ELEMENTS */
main {
  padding-top: var(--large-padding-value);
}

h1 {
  font-size: var(--h1-font-size-value);
}

h2 {
  margin: var(--small-margin-value);
  font-size: var(--h2-font-size-value);
}

h3 {
  font-size: var(--h3-font-size-value);
  margin: var(--small-margin-value);
}

h4 {
  font-size: var(--h4-font-size-value);
  margin: var(--small-margin-value);
}

p {
  font-size: var(--text-font-size-value);
}

/* -------------------    Components    ---------------------   */

/* BUTTON */
button {
  width: 120px;
  height: 120px;
  font-size: var(--contact-font-size-value);
}

section {
  margin-bottom: var(--small-margin-value);
  padding: var(--small-padding-value);
}

/*          --------------------    WINE BOTTLES  ---------------------     */
.wine-bottles {
  height: 640px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.wine-bottles .slider {
  display: flex;
  overflow: hidden;
}

.wine-bottles .slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 100%;
}

.wine-bottles .slide img {
  aspect-ratio: 0.25;
  width: 100px;
  padding-bottom: var(--small-padding-value);
}

.wine-bottles .slide .wine-name {
  width: 70%;
  max-width: 300px;
  padding-bottom: var(--small-padding-value);
  border-bottom: 1px solid var(--border-color);
}

.wine-bottles .price {
  display: flex;
  width: 70%;
  max-width: 300px;
  max-width: 300px;
  justify-content: space-between;
  align-items: center;
}

.wine-bottles .price span {
  font-size: 35px;
  color: var(--border-color);
}

.wine-bottles .price span:hover {
  color: var(--button-hover-background-color);
  animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}

.wine-bottles button.before {
  position: absolute;
  top: 35%;
  left: 15%;
  width: 70px;
  height: 70px;
  transform: translate(-50%, 50%);
}

.wine-bottles button.next {
  position: absolute;
  top: 35%;
  right: 15%;
  width: 70px;
  height: 70px;
  transform: translate(50%, 50%);
}

.wine-bottles button.add-to-cart {
  border-radius: 0;
  width: 150px;
  margin-top: var(--small-margin-value);
}

/* MEDIA QUERIES HIGHER THAN 700PX */
@media screen and (min-width: 700px) {
  :root {
    --text-font-size-value: 18px;
    --contact-font-size-value: 22px;
    --h1-font-size-value: 34px;
    --h2-font-size-value: 30px;
    --h3-font-size-value: 26px;
    --h4-font-size-value: 22px;
  }

  button {
    width: 150px;
    height: 150px;
  }

  .wine-bottles {
    height: 700px;
  }

  .wine-bottles .price {
    padding-top: var(--small-padding-value);
  }

  .wine-bottles button.before {
    width: 150px;
    height: 150px;
    top: 25%;
    left: 15%;
  }
  .wine-bottles button.next {
    width: 150px;
    height: 150px;
    top: 25%;
    right: 15%;
  }

  .wine-bottles .price span {
    font-size: 40px;
  }

  /* HAMBURGER MENU DISAPPEAR AND MENU APPEAR */
  .hamburger-menu {
    display: none;
  }

  .navigation-bar .menu {
    display: flex;
    align-items: center;
    width: clamp(450px, 40%, 700px);
  }

  .navigation-bar .menu a:first-of-type {
    margin-left: auto;
  }

  .navigation-bar .menu a {
    margin: 0 var(--small-margin-value);
    position: relative;
  }

  .navigation-bar .menu a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--body-background-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .navigation-bar .menu a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .wine-bottles .price span {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}

/* MEDIA QUERIES HIGHER THAN 1200PX */
@media screen and (min-width: 1200px) {
  :root {
    --text-font-size-value: 22px;
    --contact-font-size-value: 24px;
    --h1-font-size-value: 60px;
    --h2-font-size-value: 34px;
    --h3-font-size-value: 30px;
    --h4-font-size-value: 26px;
  }

  .wine-bottles .slide .wine-name {
    max-width: 400px;
  }

  .wine-bottles .price {
    max-width: 400px;
  }
}
