/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mulish, sans-serif;
  font-size: var(--text-font-size-value);
  color: var(--normal-text-color);
}

:root {
  --body-background-color: #dad3c1;
  --section-background-color: #f9f4e5;
  --normal-text-color: #2b2925;
  --button-hover-background-color: #808080;
  --button-hover-text-color: #fff;
  --border-color: #dad3c1;
  --border-button-hover-color: #fff;

  --small-padding-value: 20px;
  --medium-padding-value: 40px;
  --large-padding-value: 80px;
  --Xlarge-padding-value: 120px;
  --XXlarge-padding-value: 160px;
  --XXXlarge-padding-value: 200px;
  --XXXXlarge-padding-value: 240px;

  --small-margin-value: 20px;
  --medium-margin-value: 40px;
  --large-margin-value: 80px;
  --Xlarge-margin-value: 120px;

  --text-font-size-value: 14px;
  --contact-font-size-value: 18px;
  --h1-font-size-value: 30px;
  --h2-font-size-value: 26px;
  --h3-font-size-value: 22px;
  --h4-font-size-value: 18px;
  --h5-font-size-value: 14px;
  --h6-font-size-value: 10px;
}

/* ELEMENTS */
body {
  max-width: 1300px;
  margin: auto;
  background-color: var(--body-background-color);
}

main {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: Philosopher, sans-serif;
}

p {
  line-height: 1.5;
  max-width: 800px;
}

/* -------------------    Components    ---------------------   */
.white-circle-cursor {
  cursor: url("images/circle.png"), auto;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--small-padding-value);
  border: 1px solid var(--border-color);
  background-color: var(--section-background-color);
  position: relative;
}

.picture {
  width: 100%;
  max-width: 800px;
  aspect-ratio: 2;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* BUTTON */
button {
  color: var(--normal-text-color);
  font-weight: 400;
  border: solid 2px var(--border-color);
  border-radius: 50%;
  background-color: var(--section-background-color);
  font-family: Philosopher, sans-serif;
}

button:hover {
  background-color: var(--button-hover-background-color);
  color: var(--button-hover-text-color);
  border-color: var(--border-button-hover-color);
  transition: all 1s;
}

/* navigation bar */
.navigation-bar {
  width: 100%;
  max-width: 1300px;
  height: 60px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--section-background-color);
}

.checkbox-toggler {
  display: none;
}

/*  -------------     HAMBURGER-MENU ---------------    */
.hamburger-menu {
  height: 20px;
  width: 30px;
  display: flex;
  align-items: center;
  margin-right: var(--small-margin-value);
  z-index: 100;
}

.nav-icon {
  width: 50px;
  height: 2px;
  background: var(--normal-text-color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  width: 30px;
  height: 2px;
  background: var(--normal-text-color);
  position: absolute;
  transition: transform 0.2s;
}
.nav-icon::before {
  transform: translateY(-10px);
}

.nav-icon::after {
  transform: translateY(10px);
}

/* HAMBURGER MENU WHEN HOVERED */
.hamburger-menu:hover .nav-icon::before {
  transform: translateY(-15px);
}

.hamburger-menu:hover .nav-icon::after {
  transform: translateY(15px);
}

/* MENU BAR */
.navigation-bar .menu {
  display: none;
}

/* SECTION INVITATION */
.invitation button {
  transform: rotate(-20deg);
}
